@{
    ViewData["Title"] = "Home Page";
    string[] names = {"Jordan","Terry","Rachael"};
    var random = new Random();
    var randomIndex = random.Next(3);
    var name = names[randomIndex];
}

<div class="text-center">
    <h1 class="display-4">Welcome @name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
